.row
  - @entries.each do |entry|
    .col-md-12
      %h2= link_to entry.title, entry_path(entry.id)
      = link_to entry.user.name, user_path(entry.user.id)
      %p= truncate(entry.body, length: 150)