- unless current_user.following?(@user)
  %button{ class: 'btn btn-primary btn-relationship', data: {id: @user.id , url: relationships_path, action: 'follow'} } Follow
- else
  %button{ class: 'btn btn-danger btn-relationship', data: {url: relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)), action: 'unfollow'} } Unfollow