.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %button{type: "button", class: "navbar-toggle collapsed", data: {toggle: "collapse", target: "#blog-app-navbar-collapse"}, aria: {expanded: false}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do            
        Blog System
    .collapse.navbar-collapse#blog-app-navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -unless user_signed_in?
          %li= link_to "Login", login_path
        -else
          %li= link_to "Create new entry", new_entry_path
          %li.dropdown
            %a{href: "#", class: "dropdown-toggle", data: {toggle:"dropdown"}, role: "button", aria: {haspopup:"true", expanded:"false"}} 
              %i.glyphicon.glyphicon-user
            %ul.dropdown-menu
              %li
                =link_to user_path(current_user) do
                  Your profile
          %li
            = link_to logout_path, method: :delete do
              %i.glyphicon.glyphicon-log-out
